/*//////////////////////////////////
////////////// GENERAL /////////////
//////////////////////////////////*/

h1,h2,h3,h4,h5,h6,#avatarWrapper>p{
  font-family: 'Lobster', cursive !important;
}
body{
  font-family: 'Quicksand', cursive !important;
}
.App {
  text-align: center;
}
.App-logo {
  animation: App-logo-spin infinite 5s linear;
  height: 60vmin;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
  
.hide{
  display: none;
  visibility: hidden;
}

#app{
  width: 100vw;
  font-family: 'Open Sans', sans-serif;
  background-color: #3d3d3d;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Quicksand",sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.inputTextGreen>input{
  font-family:'Merienda', sans-serif !important;
  color:#21ba45 !important;
  font-size:2.5em !important;
  text-align:center !important;
  border-radius: 4px !important;
}

.inputTextBlue>input{
  font-family:'Merienda', sans-serif !important;
  color:#54c8ff !important;
  font-size:2.5em !important;
  text-align:center !important;
  border-radius: 4px !important;
}

 /*
 .letter2{stroke:#1ab8fb;}
 .letter3{stroke:#26b2f7;}
 .letter4{stroke:#32abf4;}
 .letter5{stroke:#3ea5f0;}
 .letter6{stroke:#4a9fec;}
 .letter7{stroke:#5699e8;}
 .letter8{stroke:#6293e4;}
 .letter9{stroke:#6e8ce1;}
 .letter10{stroke:#7a86dd;}
 .letter11{stroke:#8780d9;}
 .letter12{stroke:#937ad5;}
 .letter13{stroke:#9f74d1;}
 .letter14{stroke:#ab6dce;}
 .letter15{stroke:#b767ca;}
 .letter16{stroke:#c361c6;}
 .letter17{stroke:#cf5bc2;}
 .letter18{stroke:#db55be;}
 .letter19{stroke:#e74ebb;}
 .letter20{stroke:#f348b7;}
*/

.letter{stroke:#fff;}
#titleLogo{fill:none;stroke-width:3;stroke-miterlimit:3;}
#cakeLogo{fill:none;stroke-width:3;stroke-miterlimit:3;}
.st0{fill-rule:evenodd;clip-rule:evenodd;fill:none;}
.st1{fill:none;stroke:#000}

